{% set profile_menu ="pass" %}
{% extends "AppWebBundle:Profile:profile_layout.html.twig" %}

{% set profile_breadcrumb = [
        {"text":"修改登录信息" , "current":1, "href":path('fos_user_change_password') }
    ] %}

{% block profile_right %}
    
{% trans_default_domain 'FOSUserBundle' %}
<style>
   .form-horizontal input[type="password"]{
        width:50% !important;
    }
</style>
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"  class="form-horizontal" id="pass_form">
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <button type="submit" class="btn btn-primary">{{ 'change_password.submit'|trans }}</button>
        </div>
    </div>
</form>

<script type="text/javascript">
$(function(){
    new FormValidator('#pass_form', {
        skip: '#form_old_password'
    });
});
</script>


{% endblock  profile_right%}